.bgr{
    margin: 20px auto;
    width: 500px;
    height: 500px;
    position: relative;
    background-color: blanchedalmond;
    line-height: 500px;
    text-align: center;
    
}
.bgr::after{
    content: '/';
    bottom: -20px;
    left: -20px;
    width: 400px;
    height: 400px;
    position: absolute;
    background-color: rgb(26, 199, 10);
    
    z-index: -1;

}
.bgr::before{
    content: '/';
    top: -20px;
    right: -20px;
    width: 400px;
    height: 400px;
    position: absolute;
    background-color: rgb(233, 136, 10);
    
    z-index: -1;

}
p{
   
   font-size: 30px;
   font-weight: bold;
}