body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
}
img{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}