.title{
    width: 800px;
    border: 20px solid rebeccapurple;
    border-radius: 6px;         
    margin: 30px auto;
    text-align: center;
    
}
h1{
    border: 5px solid red;
    margin: 2px;
    padding: 10px;
    
   
}